<%- include('../header.ejs')%>
<section class="dashboard-wrap mtb-40">
  <div class="container">
    <div class="body-content">
      <div class="row">
        <div class="col-md-3">
          <div class="dash-left">
            <ul>
              <li class="active">
                <a href="/admin/dashboard" class="active">Dashboard</a>
              </li>
              <li><a href="/admin/blogdisplay">Blogs</a></li>
              <li><a href="/admin/categorydisplay">Categories</a></li>
              <li><a href="/admin/contactdisplay">Contact</a></li>
              <li><a href="/admin/aboutdisplay">About</a></li>

              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="dash-right">
            <h1>Welcome <%= n %></h1>

            <p>
              Krishna  is a major deity in
              Hinduism. The name comes from a Sanskrit word (कृष्ण, kṛṣṇa) that
              means "black", "dark", "dark blue" or "the all attractive".[13] He
              is worshipped as the eighth avatar of Vishnu and also as the
              Supreme God in his own right.[14] He is the god of protection,
              compassion, tenderness, and love;[15][1] and is one of the most
              popular and widely revered among Indian divinities.[16] Krishna's
              birthday is celebrated every year by Hindus on Krishna Janmashtami
              according to the lunisolar Hindu calendar Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../footer.ejs')%>
