<%-  include('../../header.ejs')%>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay" >Blogs</a></li>
                            <li><a href="/admin/categorydisplay" >Categories</a></li>
                            <li><a href="/admin/contactdisplay" >Contact</a></li>
                            <li><a href="/admin/aboutdisplay" class="active">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>about</h1>
                            </div>
                            
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                
                                <th>Description</th>
                                <th>Action</th>
                                
                            </tr>
                            <% ab.forEach((item)=>{%>
                            <tr>
                                <td><%= item.description %></td>
                                <td> <a href="/admin/aboutedit/<%= item._id%>" class="btn btn-success">Edit</a></td>
                            </tr>
                            <%})%>
                            
                            
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%-  include('../../footer.ejs')%>